.header {
  width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #81868952;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  width: 140px;
  height: 20px;
}
.shopping-cart-icon {
  width: 15%;
  filter: invert(53%) sepia(5%) saturate(341%) hue-rotate(159deg)
    brightness(98%) contrast(88%);
}
.menu-items-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-items-list {
  display: flex;
  gap: 30px;
  font-size: 1rem;
  color: #818689fb;
  cursor: pointer;
}
.menu-item {
  position: relative;
}
.menu-item:after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  bottom: -40px;
  background-color: hsl(26, 100%, 55%);
  width: 0;
  border-radius: 5px;
  transition: 0.2s;
}
.menu-item:hover:after {
  width: 100%;
}

.logo-menu-items-group {
  display: flex;
  gap: 55px;
}
.shopping-cart-icon-avatar-group {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  cursor: pointer;
}
.avatar-img {
  width: 40%;
}
